<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>WebProposicoes</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="module" src="/js/index.js"></script>
  </head>

  <body>
    <div>
      <p id="p1">input</p>
      <input type="text" id="propTextInput"/>
      <button id="addPropButton"> Add Proposition </button>
    </div>

    <div>
      <table id="truthTable">
        <tr id="tableheader">
          <th> a </th>
          <th> a </th>
          <th> a </th>
          <th> a </th>
        </tr>
        <tr>
          <td> b </td>
          <td> b </td>
          <td> b </td>
          <td> b </td>
        </tr>

      </table>
    </div>


    
  </body>
</html>